

*{
    box-sizing: border-box;
    margin: 0;
    font-family:Sofia Sans Extra Condensed ;
}

.navbar{
    top:0;
    position: sticky;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}

ion-icon{
    font-size: 2.5rem;
    color:white;
    border: 2px solid white;
    border-radius: 5px;
    
}


.websites{
   
    height: 3rem;
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.site-nav{
    height: 3rem;
    width: 24rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
  
}
.nav-button{
    font-size: 1.5rem;
    color:white;
    border: 2px solid white;
    border-radius: 5px;
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    
    background-image: url("vin3.svg");
    background-size: cover;
    height: calc(100vh - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-grid{

    height: 80%;
    width: 50rem;
    min-width: 30rem;
    margin: 2rem;
    display: grid;
    grid-template-columns:repeat( 3, 6rem);
    grid-template-rows:20rem 15rem;
    color:white;

}

.about-img{
grid-column: 1 / 4;
grid-row:1 / 3;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.about-img img{
    height: 70%;
    width: 80%;
    object-fit: cover;
    
}

.about-name{
    grid-column: 4/5;
   
    font-size: 3.5rem;
    display: flex;
    align-items: end;
    justify-content: center;

}

.about-info{
    grid-column: 4/5;
    font-size: 2rem;
    display: flex;
    align-items:start;
    justify-content: center;
    /* background-color: goldenrod; */
}

.projects{
    background-color:orange;
    height: calc(100vh - 4rem);

}

.connect{
    background-color: brown;
    height: calc(100vh - 4rem);
}

.card{
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}